@use 'easing' as *;
@use 'screensize' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  color: #333;
  font-size: 62.5%;

  &.mouseover {
    cursor: pointer;
  }
}

button {
  cursor: pointer;
}

#canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;

  @include small {
    display: block;
  }

  &.touch-open {
    #app {
      top: 480px;
    }
    aside nav {
      opacity: 1;
    }
  }
}

aside {
  position: relative;
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  opacity: 0;

  @include small {
    width: 100%;
    max-width: 100%;
    height: 220px;
    position: fixed;
    padding-top: 140px;
    // overflow: hidden;
  }

  &.show {
    opacity: 1;
  }

  .logo {
    position: fixed;
    display: block;
    width: 30%;
    height: 15vw;
    min-height: 230px;
    max-height: 250px;
    top: 0;
    max-width: 300px;

    @include small {
      height: 100%;
      width: 40%;
      min-height: auto;
      max-height: 150px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .menu-btn {
    display: none;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 16px;
    background: none;
    border: none;
    @include small {
      display: flex;
    }

    svg {
      width: 19px;
      height: 15px;
      margin-right: 6px;
    }
  }

  nav {
    position: fixed;
    padding: 30px;
    transition:
      transform 0.35s ease,
      opacity 0.35s ease,
      visibility 0.35s ease;

    @include small {
      top: 220px;
      padding: 0;
      opacity: 0;
    }

    &.hide {
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;
      padding: 6px 12px;
      position: relative;
      transition: color 0.35s ease-out;
      font-size: 1rem;
      line-height: 1em;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: calc(100% - 4px);
        background: black;
        transform: scaleX(0);
        transition: transform 0.35s ease-out;
        transform-origin: top left;
        z-index: -1;
      }

      &.inactive {
        color: #999;
      }

      &:hover,
      &.active {
        color: white;

        &:before {
          // transform-origin: top left;
          transition: transform 0.35s $ease-out-back;
          transform: scaleX(1);
        }
      }
    }
  }

  ul {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 15px auto;
    @include small {
      text-align: center;
    }
    li {
      line-height: 1em;
    }
  }

  .sidebar {
    width: 100%;
    max-width: 250px;
    padding: 25px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform: translateX(50%);
    transition:
      transform 0.35s ease,
      opacity 0.35s ease,
      visibility 0.35s ease;

    @include small {
      display: none;
    }

    &.show {
      opacity: 1;
      transform: translateX(0px);
      visibility: visible;
    }

    h3 {
      font-family: 'Playfair';
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.3em;
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 0.8rem;
      line-height: 1.6em;
      margin-bottom: 1.5rem;
    }

    .publish-date {
      font-family: 'Playfair';
      font-weight: 900;
    }

    .time {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 1rem;
      svg {
        display: block;
        width: 25px;
        height: 25px;
        margin-right: 5px;
      }
    }

    .back-btn {
      width: 40px;
      height: 40px;
      border: 3px solid black;
      border-radius: 50%;
      position: relative;
      background: none;
      &:after {
        content: 'BACK';
        position: absolute;
        display: block;
        top: 8px;
        left: 45px;
        font-size: 1rem;
        font-weight: 700;
        opacity: 0;
        transform: translateX(5px);
        transition:
          opacity 0.3s ease,
          transform 0.3s ease;
        pointer-events: none;
      }
      svg {
        display: block;
        transition: transform 0.25s ease;
      }

      &:hover {
        svg {
          transform: scale(1.2);
        }
        &:after {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }
}

#app {
  width: 70%;
  flex-grow: 2;
  @include small {
    width: 100%;
    position: relative;
    top: 220px;
    transition: top 0.65s $ease-in-out-quint;
  }

  &.project-page {
    top: 0;
  }
}

ul {
  list-style: none;
}

.project-container {
  position: relative;

  .item,
  .grid-sizer {
    display: block;
    width: 20%;
    @include large {
      width: 33.3%;
    }
    @include medium {
      width: 50%;
    }
  }

  .item {
    // overflow: hidden;
    // perspective: 700px;

    // opacity: 0;
    // transform: scale(0.5);

    img {
      width: 100%;
      display: block;
      transition: transform 0.25s ease-out;
      backface-visibility: hidden;
    }

    .content-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .title {
      position: absolute;
      bottom: 40px;
      left: -15px;
      z-index: 1;
      background: rgba(black, 0.9);
      padding: 15px;
      max-width: 80%;
      overflow: hidden;
      transform: scaleX(0);
      transform-origin: center left;
      transition: transform 0.2s $ease-in-out-cubic 0.1s;

      @include small {
        padding: 10px;
        bottom: 15px;
        left: 0;
      }

      h4 {
        color: #ccc;
        font-size: 0.85rem;
        margin-bottom: 8px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.45em;
        opacity: 0;
        transition: opacity 0.25s ease 0s;
      }

      span {
        display: inline-flex;
        background: rgba(white, 0.1);
        margin-right: 5px;
        padding: 2px 4px;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 0.5rem;
        color: #aaa;
        opacity: 0;
        transition: opacity 0.25s ease 0.1s;
      }
    }

    .icon {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.25s ease-out;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      svg {
        width: 15%;
        opacity: 0.6;
      }

      &.light {
        svg {
          fill: white;
        }
      }

      &.dark {
        svg {
          fill: black;
        }
      }

      &.one {
        &:before {
          background: url('../media/images/back-pattern.png') center center;
        }
      }

      &.two {
        &:before {
          background: url('../media/images/black-twill.png') center center;
          opacity: 0.2;
        }
      }

      &.three {
        &:before {
          background: url('../media/images/bright-squares.png') center center;
        }
      }

      &.four {
        &:before {
          background: url('../media/images/carbon-fibre-big.png') center center;
          opacity: 0.1;
        }
      }

      &.five {
        &:before {
          background: url('../media/images/cartographer.png') center center;
          opacity: 0.8;
        }
      }

      &.six {
        &:before {
          background: url('../media/images/checkered-light-emboss.png') center
            center;
        }
      }

      &.seven {
        &:before {
          background: url('../media/images/cream-pixels.png') center center;
        }
      }

      &.eight {
        &:before {
          background: url('../media/images/cubes.png') center center;
          opacity: 0.8;
        }
      }

      &.nine {
        &:before {
          background: url('../media/images/diamonds.png') center center;
          opacity: 0.6;
        }
      }

      &.ten {
        &:before {
          background: url('../media/images/hexellence.png') center center;
          opacity: 0.75;
        }
      }
    }

    &:hover {
      z-index: 10;
      img,
      .icon {
        transition: transform 0.35s $ease-out-back;
        transform: scale(1.15);
      }

      .title {
        transform: scaleX(1);
        transition:
          transform 0.2s $ease-out-cubic 0s,
          opacity 0.2s ease 0s;
        z-index: 1;
        h4 {
          opacity: 1;
          transition: opacity 0.25s ease 0.15s;
        }
        span {
          opacity: 1;
          transition: opacity 0.25s ease 0.2s;
        }
      }
    }
  }

  .memo {
    height: 30vh;
  }

  .project-iframe {
    position: fixed;
    top: 0;
    z-index: 2;

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .project-note {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    background: #fbfbfb;
    padding: 60px;
    z-index: 2;

    @include small {
      padding: 25px;
    }

    .content {
      width: 100%;
      max-width: 850px;

      li {
        &:before {
          content: '–';
          margin-right: 0.5em;
        }
      }

      iframe {
        border: none;
        margin-bottom: 30px;
      }
    }

    h1 {
      @include small {
        font-size: 3rem;
      }
    }

    a {
      color: currentColor;
      &:hover {
        text-decoration: none;
      }
    }

    .hljs {
      padding: 1.8rem;
      border-radius: 12px;

      @include small {
        padding: 1rem 0.8rem;
      }
    }
  }
}

/*
 * TYPO
 */

h1 {
  font-family: 'Playfair';
  font-size: 6rem;
  font-weight: 900;
  line-height: 1em;
  margin-bottom: 2rem;

  @include small {
    font-size: 4rem;
  }
}

ul,
li,
p {
  font-size: 1.4rem;
  line-height: 1.5em;

  @include small {
    font-size: 1rem;
  }
}

ul,
p {
  margin-bottom: 2rem;
  @include small {
    margin-bottom: 1rem;
  }
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-top: 2rem;

  @include small {
    font-size: 1.6rem;
  }
}

pre,
code {
  font-size: 1.4rem;
  margin-bottom: 2rem;

  @include small {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.view {
  .content {
    padding: 80px 80px 80px 30px;
    max-width: 950px;

    @include small {
      padding: 0px 25px 30px;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    background: #eee;
    color: currentColor;
    border-bottom: 2px solid currentColor;
    transition:
      background 0.35s ease,
      border 0.35s ease,
      color 0.35s ease;

    &:hover {
      background: #333;
      border-bottom: 2px solid #333;
      color: #eee;
    }
  }

  li {
    &:before {
      content: '–';
      margin-right: 0.5em;
    }
  }
}

.about .content {
  #interactivity {
    transform-origin: top right;
  }
  #physics {
    transform-origin: bottom left;
  }
}
