$breakpoint-small: '(max-width: 540px)';
$breakpoint-medium: '(max-width: 1024px)';
$breakpoint-large: '(max-width: 1280px)';

@mixin small {
  @media #{$breakpoint-small} {
    @content;
  }
}

@mixin medium {
  @media #{$breakpoint-medium} {
    @content;
  }
}

@mixin large {
  @media #{$breakpoint-large} {
    @content;
  }
}
