<div class="about view">
  <div class="content">
    <h1>Hello.</h1>
    <p>
      My name is Marius Nohr. I was born in the summer of '87, in Oslo, Norway.
    </p>
    <p>
      In my professional life I work as a <i>creative developer</i> at
      <a href="https://tryapt.no">TRY Apt</a>. In other words, I like code as
      much as I like design. As a creative developer you really get to do a mix
      of both. It's in the intersection between code and design I do my best
      work.
    </p>
    <p>
      I also like to play with animation,
      <a href="#" id="interactivity" data-origin="right">interactivity</a>,
      generative/procedural art, ui/ux, math and
      <a href="#" id="physics" data-origin="left">physics</a>. This website
      functions as a personal archive of all the things I experiment with in my
      spare time.
    </p>
    <h3>The tech behind this site</h3>
    <p>
      The backend is pretty much a static site using
      <a href="https://koajs.com/">Koa</a> running on
      <a href="https://nodejs.org/">Node</a>. The frontend is a mix of my own
      little framework and
      <a href="https://isotope.metafizzy.co/">masonry/isotope</a>. Most of the
      3D experiments are rendered using my go to WebGL-framework
      <a href="http://threejs.org/">Three.js</a> The 2D stuff is drawn using the
      Canvas API. The client is written in TypeScript and bundled with
      <a href="https://vite.dev/">Vite</a>, and the project is managed with
      <a href="https://pnpm.io/">pnpm</a>. That's pretty much it.
    </p>
  </div>
</div>
