<div class="about view">
  <div class="content">
    <h1>Hello there</h1>
    <p>My name is Marius Nohr, born in the summer of '87.</p>
    <p>In my professional life I work as a <i>creative developer</i> at <a href="https://tryapt.no">TRY Apt</a>. In other words, I like to write code but I also like design. As a creative developer you really get to do a mix of both. It's in the intersection between code and design I do my best work.</p>
    <p>I also like to play with <a href="#">interactivity</a>, music, animation, generative/procedural art, ui/ux, math and <a href="#">physics</a>. This website functions as a personal archive of all the things I experiment with in my spare time.</p>
    <h3>The tech behind this site</h3>
    <p>The backend is pretty much a static site using Koa running on Node. The frontend is a mix of my own little framework and masonry/isotope. It's also using some visuals rendered with my go to WebGL-framework ThreeJS. Each deploy is built using Parcel as the package manager. That's pretty much it.</p>
  </div>
</div>