<div class="resume view">
  <div class="content">
    <h1>Résumé</h1>
    <p>I currently work at <a href="https://try.no/try-apt">TRY Apt</a> in Oslo, Norway.</p>
    <h3>Experience</h3>
    <ul>
      <li>TRY Apt – Creative Developer, Oslo, Norway (2019 - present)</li>
      <li>Notch – Creative Developer, Oslo, Norway (2016 - 2018)</li>
      <li>TRY Apt – Creative Developer, Oslo, Norway (2012 - 2016)</li>
      <li>Isobar – Creative Developer, Oslo, Norway (2011 - 2012)</li>
      <li>Suddenly Oslo – Creative Developer, Oslo, Norway (2010 - 2011)</li>
      <li>AKQA – Creative Developer Intern, San Francisco, USA (2009 - 2010)</li>
      <li>Hyper Island – Digital Media, Stockholm, Sweden (2008 - 2010)</li>
    </ul>
    <h3>Things and technologies I have used a lot</h3>
    <ul>
      <li>HTML(5) & CSS (3)</li>
      <li>JavaScript (Node.js, ES6, transpilers, design patterns)</li>
      <li>2D using the HTML5 canvas API</li>
      <li>3D using WebGL and GLSL (Three.js)</li>
      <li>Animation tools, such as gsap, anime</li>
      <li>UX / UI design and development</li>
      <li>Interactive design</li>
      <li>Prototyping, wireframes</li>
      <li>Game development in Unity (C#)</li>
      <li>Popular client-side frameworks, such as React, Vue, Backbone and Angular</li>
      <li>Server-side frameworks, such as Express, Koa, Silex, Symfony</li>
      <li>Industry software, such as Photoshop, Illustrator, XD, Sketch</li>
      <li>Backend development mostly in Node.js and PHP</li>
      <li>Unit tests, integration tests, UI tests</li>
      <li>Database technologies, such as MySQL, Firebase, MongoDB, MariaDB</li>
    </ul>
    <h3>Selected Clients</h3>
    <p>Volkswagen, Target, Nike, DNB, McDonalds, Burger King, Equinor, Finn.no, Vy, Sørlandschips, UNICEF,
      Regnskogfondet</p>
    <h3>Selection of Honors & Awards</h3>
    <ul>
      <li>Gold – NSB Miljøtog, Eurobest</li>
      <li>1 gold, 1 bronze – NSB Miljøtog, Gulltaggen</li>
      <li>1 gold, 2 silver, 1 bronze – DNB Boligreisen, Gulltaggen</li>
      <li>2 gold, 1 bronze – DNB Boligreisen, Gullblyanten</li>
      <li>Gold – Volkswagen Showroom, Visuelt</li>
      <li>Site of the day – DNB Boligreisen, Awwwards</li>
      <li>Site of the day – Volkswagen Showroom, Awwwards, FWA</li>
      <li>Site of the year nominee – Volkswagen e-up, Awwwards</li>
      <li>Gold – Perfect Day Island, Visuelt</li>
    </ul>
    <h3>Contact</h3>
    <p>
      Phone: <a href="#" id="phone">click to view</a><br>
      E-mail: <a href="#" id="email">click to view</a><br>
      Or say hi to me at <a href="https://www.twitter.com/marriz">Twitter</a> or <a
        href="https://www.linkedin.com/in/marius-nohr-004894b/">LinkedIn</a>
    </p>
  </div>
</div>